html {
  /* overflow: scroll;
  overflow-x: hidden; */
}

body {
  margin: 0;
  width: 100dvw;
  height: 100dvh;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  overflow: hidden;
}

Canvas {
  width: 100dvw;
  height: 100dvh;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  height: 0;
  background: transparent; /* Optional: just make scrollbar invisible */
}

.hotspot_container {
  position: relative;
  transform: translate(0, -100%);
  display: flex;
  flex-direction: row;
}

.svg_container {
  width: 15vw;
  height: max-content;
}

.details_container {
  width: 10vw;
  height: max-content;
  position: relative;
  transform: translate(0, -40%);
  /* border: solid; */
  /* border-color: #00aeef; */
  background-color: #00afef;
  /* border-width: 2px; */
  /* border-radius: 10px; */
  /* margin: 0 10%; */
  text-align: center;
}

.details_container p {
  font-size: 1.2vw;
  color: #ffffff;
}

/*loading screen */
.loading_screen {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
}

.loading_screen_background {
  position: absolute;
  width: 100dvw;
  height: 100dvh;
  /* background-image: url("../../public/images/Screenshot 2024-12-18 151914.jpg"); */
  /* background-image: url("https://fashionix.sirv.com/roof_configurator/images/Screenshot%202024-12-18%20151914.jpg"); */
  filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.loading_screen_content {
  position: absolute;
  width: max-content;
  height: max-content;
  display: flex;
  flex-direction: row;
  bottom: 3vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.metavian_logo_art {
  width: 150px !important;
  height: 150px !important;
  background-image: url("../public/icons/metavian-logo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.loader_box {
  width: 65px !important;
  height: 65px !important;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 65px !important;
  aspect-ratio: 1;
  position: absolute;
  z-index: 1001;
  /* bottom: 1vw;
  left: 1vw; */
  /* transform: translate(-50%, -50%); */
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  border-radius: 50px;
  box-shadow: 0 0 0 3px inset #00aeef;
  animation: l5 2.5s infinite;
}
.loader:after {
  animation-delay: -1.25s;
  border-radius: 0;
}
@keyframes l5 {
  0% {
    inset: 0 35px 35px 0;
  }
  12.5% {
    inset: 0 35px 0 0;
  }
  25% {
    inset: 35px 35px 0 0;
  }
  37.5% {
    inset: 35px 0 0 0;
  }
  50% {
    inset: 35px 0 0 35px;
  }
  62.5% {
    inset: 0 0 0 35px;
  }
  75% {
    inset: 0 0 35px 35px;
  }
  87.5% {
    inset: 0 0 35px 0;
  }
  100% {
    inset: 0 35px 35px 0;
  }
}

.loading_bar_container {
  flex: 1;
  margin: auto 0 auto 2.5%;
  height: 5px;
  background-color: rgb(86, 86, 86);
}
.loading_bar {
  width: 0%;
  height: 100%;
  background-color: rgb(118, 155, 242);
}

/* slider */
.slidecontainer {
  width: 50%;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 10%;
  margin: auto;
}

.slidecontainer p {
  text-align: center;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 25px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background: #00aeef;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #00aeef;
  cursor: pointer;
}

.overlays {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  pointer-events: none;
}

.title {
  position: absolute;
  top: 10%;
  left: 0;
  width: 100vw;
  height: max-content;
  display: flex;
  flex-direction: row;
}

.title_1 {
  font-size: 1.5vw;
  position: relative;
  right: 0%;
  width: 50vw;
  height: 8vw;
  background-image: url("../public/icons/xvr_asset.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: -200% 0%;
  transition: background-position 2s ease;
}

.title_container {
  /* position: relative; */
  flex: 1;
  height: max-content;
  margin: auto;
}

.animate_title_1 {
  background-position: 75% 0%;
}

.title_2,
.title_3 {
  position: relative;
  font-size: 2vw;
  text-wrap: nowrap;
  margin: 2%;
  left: 200%;
}

.title_2 {
  transition: left 2s ease 2s;
}

.title_3 {
  transition: left 2s ease 3s;
}

.animate_title_2 {
  left: 0% !important;
}

.animate_title_3 {
  left: 10% !important;
}

.metavian {
  position: absolute;
  right: 1%;
  bottom: 1%;
  width: max-content;
  height: max-content;
  display: flex;
  flex-direction: row;
}

.metavian_logo {
  width: 5vw;
  height: 1vw;
  margin: auto;
  margin-left: 0.5vw;
  margin-top: 0;
  background-image: url("../public/icons/268x52_Logo_Purple.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.powered_by_metavian {
  font-size: 1vw;
  text-wrap: nowrap;
  margin: 0;
}

.powered_by_metavian p {
  margin: 0;
}

.tip {
  position: absolute;
  left: 1vw;
  bottom: 1vw;
  font-size: 1vw;
}

@media (orientation: portrait) {
  .svg_container {
    width: 15vh;
  }
  .details_container {
    width: 10vh;
  }
  .details_container p {
    font-size: 1vh;
  }
  .metavian {
    /* top: 1%; */
    left: 50%;
    transform: translate(-50%, 0);
  }

  .metavian_logo {
    width: 10vh;
    height: 2.5vh;
    margin-left: 3%;
  }

  .powered_by_metavian {
    font-size: 2vh;
  }

  .title {
    top: 5%;
    flex-direction: column;
  }

  .loading_screen_content {
    top: calc(50% - 20px);
  }

  .title_1 {
    width: 100%;
    height: 22vw;
  }

  .animate_title_1 {
    background-position: 50% 0%;
  }

  .title_container {
    margin-top: 2%;
  }

  .title_2,
  .title_3 {
    font-size: 6vw;
  }

  .animate_title_2 {
    left: 0% !important;
  }

  .animate_title_3 {
    left: 8% !important;
  }
}
